doctype html
html(lang="es")
    head
        title
        meta(charset="utf-8")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")    
        link(href="/public/css/app.css" rel="stylesheet")
    body
        nav(class="large-padding black white-text")
            ul
                li
                    a(href="/app") Inicio
                li
                    a(href="/app/imagenes") Mis imagenes
h1 hola #{user.email}
p ajsjkasdhajsk
p hjshjdhasj

h3 sddasd